[submodule "vendor/github.com/brocaar/lorawan"]
	path = vendor/github.com/brocaar/lorawan
	url = https://github.com/brocaar/lorawan.git
[submodule "vendor/google.golang.org/grpc"]
	path = vendor/google.golang.org/grpc
	url = git@github.com:grpc/grpc-go.git
